.about{
    .ablink{
        @media only screen and (max-width:400px){
            flex-direction: column;
        }
        .btn2{
            @media only screen and (max-width:400px){
                margin-left: 0 !important;
                margin-top: 1rem !important;
            }
        }
    }
}